body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* #region background*/
    --s: 10vw;
    --bg-color: #f499a8;
    --bg-stripe-color: #f4b9c3;

    animation: scroll 20s linear infinite;
    background: linear-gradient(
            135deg,
            #0000 18.75%,
            var(--bg-color) 0 31.25%,
            #0000 0
        ),
        repeating-linear-gradient(
            45deg,
            var(--bg-color) -6.25% 6.25%,
            var(--bg-stripe-color) 0 18.75%
        );
    background-size: var(--s) var(--s);
    /* #endregion */

    /* #region center */
    display: flex;
    justify-content: center;
    align-items: center;
    /* #endregion */
}

@keyframes scroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.target {
    --target-width: max(15vw, 200px);
    width: var(--target-width);
    padding: 0;
    aspect-ratio: 1;
    border: none;
    background-color: #0000;
    animation: swing 1s ease-in-out infinite alternate;
    position: relative;

    --r: calc(var(--target-width) * 1.3 * 1.41421356237 / 2);
    --theta: -45deg;
    --length: 100px;
}
.target:focus, .target:hover{
    outline: none;
}
.target.open{
    animation: none;
}

.target svg {
    width: 200%;
    height: 200%;
    position: absolute;
    left: 0;
    top: 0;
}
.target svg *{
    transition: 1s all;
}
.target .ribbon.open{
    translate: 0 384px;
    height: 0px;
}
.target .top.open{
    translate: 512px 0;
}

.target::before {
    --theta-offset: -5deg;
}
.target::after {
    --theta-offset: 5deg;
}
.target::before,
.target::after {
    content: '';
    display: block;
    position: absolute;
    width: var(--length);
    height: 5px;
    background-color: black;
    transform-origin: top left;
    rotate: calc(var(--theta) + var(--theta-offset));
    animation: expand 3s infinite;
}

@keyframes expand {
    0% {
        width: 0;
        translate: calc(
                var(--target-width) / 2 + var(--r) *
                    cos(var(--theta) + var(--theta-offset))
            )
            calc(var(--r) * sin(var(--theta) + var(--theta-offset)));
    }
    5.56% {
        width: var(--length);
        translate: calc(
                var(--target-width) / 2 + var(--r) *
                    cos(var(--theta) + var(--theta-offset))
            )
            calc(var(--r) * sin(var(--theta) + var(--theta-offset)));
    }
    11.11% {
        width: 0;
        translate: calc(
                var(--target-width) / 2 + (var(--r) + var(--length)) *
                    cos(var(--theta) + var(--theta-offset))
            )
            calc(
                (var(--r) + var(--length)) *
                    sin(var(--theta) + var(--theta-offset))
            );
    }
    22.22% {
        width: 0;
        translate: calc(
                var(--target-width) / 2 + var(--r) *
                    cos(var(--theta) + var(--theta-offset))
            )
            calc(var(--r) * sin(var(--theta) + var(--theta-offset)));
    }
    27.78% {
        width: var(--length);
        translate: calc(
                var(--target-width) / 2 + var(--r) *
                    cos(var(--theta) + var(--theta-offset))
            )
            calc(var(--r) * sin(var(--theta) + var(--theta-offset)));
    }
    33.33% {
        width: 0;
        translate: calc(
                var(--target-width) / 2 + (var(--r) + var(--length)) *
                    cos(var(--theta) + var(--theta-offset))
            )
            calc(
                (var(--r) + var(--length)) *
                    sin(var(--theta) + var(--theta-offset))
            );
    }
    100% {
        width: 0;
        translate: calc(
                var(--target-width) / 2 + (var(--r) + var(--length)) *
                    cos(var(--theta) + var(--theta-offset))
            )
            calc(
                (var(--r) + var(--length)) *
                    sin(var(--theta) + var(--theta-offset))
            );
    }
}

@keyframes swing {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}
