body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.guide-container {
    position: relative;
}

.pointer {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.target {
    width: 100px;
    height: 100px;
    background-color: 20px;
    margin-top: 20px;
}